.TodoCounter {
    position: relative;
    top:0%;
    left: 35%;
    background: rgba(32, 35, 41, 0.15);
    height: 40px;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: #e37065;
    padding-left: 7%;
    margin-top: 4%; /* Ajusta este valor según sea necesario */
    width: 20%;
    color: #ffffff;

  }
  
.TodoCounter span {
  font-weight: bold;
}

.encabezado{
  top:0%;
  position:fixed;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  img {
    top:0%;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }
}