.encabezado{
  top:0%;
  position:absolute;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  img {
    top:0%;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }
}

.TodoSearch {
    position:absolute;
    top: 20%;
    left: 40%;
    width: 20%; /* Opcional: para ocupar el ancho completo de la pantalla */
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color:#252423;
    border-color: #1b1a19;
    border-radius: 8px;
  /*  color: #ffffff;*/
  }
  
  .TodoSearch::placeholder {
    color: #ffffff;
  }
  
  .TodoSearch:focus {
    background:rgba(40,40,40,255);
    color: #ffffff;
    outline-color: #5b4ed3;
  }
