.TodoSearch {
    position:absolute;
    top: 20%;
    left: 40%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color:#252423;
    border-color: #1b1a19;
    border-radius: 8px;
  /*  color: #ffffff;*/
  }
  
  .TodoSearch::placeholder {
    color: #ffffff;
  }
  
  .TodoSearch:focus {
    background:rgba(40,40,40,255);
    color: #ffffff;
    outline-color: #5b4ed3;
  }
